<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>VyzoV - Challenge Site - Profile</title>
    <meta name="description" content="A site that challenges you!">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="row justify-content-center py-4">
                <h1><img src="images/logo.png" alt="VyzoV - Challenge Site"></h1>
            </div>
        </header>
        <main>
            <div class="row justify-content-center">
                <h2>Challenges</h2>
            </div>
            <div class="row justify-content-center py-4">
                <div class="card challenge col mx-2">
                    <div class="card-body">
                        <h4 class="card-title">True Slav</h4>
                        <p>Take squatting selfie while wearing tracksuit, bragging points if it is stripped and Adidas.</p>
                        <button onclick="document.location ='chosen_challenge.html'" class="challengeButton btn" type="button">Accept Challenge</button> 
                    </div>
                </div>
                <div class="card challenge col mx-2">
                    <div class="card-body">
                        <h4 class="card-title">Dear Babushka</h4>
                        <p>Call your elders and tell them you miss them and their cooking.</p>
                        <button onclick="document.location ='chosen_challenge.html'" class="challengeButton btn" type="button">Accept Challenge</button> 
                    </div>
                </div>
                <div class="card challenge col mx-2">
                    <div class="card-body">
                        <h4 class="card-title">Moscow Chicken</h4>
                        <p>Eat like a true comrade, make yourself a Moscow Chicken and have some Vodka(or non-alcoholic beverage).</p>
                        <a href="https://www.food.com/recipe/moscow-chicken-398330" class="card-link glow">Moscow Chicken Recipe</a>
                        <button onclick="document.location ='chosen_challenge.html'" class="challengeButton btn" type="button">Accept Challenge</button> 
                    </div>
                </div>        
            </div>
            <div class="row justify-content-center py-4">
                <button onclick="document.location ='profile.html'" class="rerollButton btn" type="button">Reroll Challenges</button>
            </div>
            <div class="row justify-content-center py-4">
                <button onclick="document.location ='profile.html'" class="return-btn btn" type="button">Retreat</button> 
            </div>
        </main>

    </div>
</body>
</html>